
/* IE7+ */
div[contentEditable="true"]:hover
{
  border: #ccc dotted 1px;
  background-color: lightyellow;
  /*margin: 1px;*/
}

div[contentEditable="true"]:focus
{
  outline:none;
  border: 1px dotted #f1ca7f;
  margin: 1px;
  background-color: lightyellow;
}

/*@@@*/
div[contentEditable="true"]
{
    border: 1px dotted #ddd;
    margin: 1px;
    min-height: 15px;
    padding: 3px;
}

div[contentEditable="true"].sectionContent
{
	min-height:40px;
}

/*
div[contentEditable="false"].sectionContent p
{
	padding-bottom: 0px;
}

div[contentEditable="true"] h4 {
	margin-bottom: 6px;
}

.sectionHeader {
	margin-top: 6px;
	margin-bottom: 12px;
}

.sectionContent
{
	padding-bottom: 8px;
	padding-left: 15px;
}
*/

th.nameColumn
{
	width: 30%;
}

img
{
	border: none;
}

/* IE compatibility */
wbr:after { content: "\00200B"; }
